---
---
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        body{margin-top: 60px; background-color: #ffffff; font-family: Verdana, Geneva, sans-serif;}
        h1{font-weight: bold; color: #000000; border-bottom: 1px solid #000000; }
    </style> 
    <title>SImg</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">SImg</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#examples">Examples</a>
            </li>
            <li class="nav-item {% if page.url == "#method" %} active{% endif %}">
              <a class="nav-link" href="#method">Method</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#parameters">Parameters</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#references">References</a>
              </li>
          </ul>
        </div>
    </nav>
    
    <div class="container" style="background-color: #ffffff; min-height: 2000px;">

    <span id="examples"></span>
    {% capture examples_include %}{% include_relative examples.md %}{% endcapture %}
    {{ examples_include | markdownify }}

    <span id="method"></span>
    {% capture method_include %}{% include_relative method.md %}{% endcapture %}
    {{ method_include | markdownify }}

    <span id="parameters"></span>
    {% capture parameters_include %}{% include_relative parameters.md %}{% endcapture %}
    {{ parameters_include | markdownify }}

    <span id="references"></span>
    {% capture references_include %}{% include_relative references.md %}{% endcapture %}
    {{ references_include | markdownify }}

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>